.app_editor{
  .el-tabs--border-card {
    background: #fff;
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0), 0 0 0px 0 rgba(0, 0, 0, 0);
  }
  .app_editor_view {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 50px;
    top: 45px;
    border-bottom: 1px solid #e4e4e4;
  }
  .app_editor_submit{
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}
