$color-primary: #005fd1;

%app-marginr-10{
  margin-right: 10px;
}
%app-height-100{
  height: 100%;
}
%app-style{
  position: absolute;
  left: 0;
  min-width: 1024px;
  min-height: 100%;
  right: 0;
  top: 0;
}
.height100{
  height: 100%;
  position: relative;
}